*{ 
margin: 0px; 
padding: 0px; 
} 
.main{ 
} 
.boxA{ 
} 
background-color: white; 
width: 100%; 
height: 109vh; 
background-position:center ; 
background-size: cover; 
width: 100%; 
height: 120px; 
background-color: darkblue; 
.boxA .box1{ 
margin-left: 140px; 
padding-top: 20px; 
} 
.box1 h2{ 
color: white; 
font-family: sans-serif; 
} 
.boxA .btn1{ 
width: 100px; 
height: 45px; 
background-color: transparent; 
margin-left: 120px; 
border-color: white; 
border-radius: 25px; 
margin-top: 15px; 
} 
.boxA h3{ 
color: white; 
} 
.boxA a{ 
text-decoration: none; 
color: white; 
width: 100%; 
height: 100%; 
} 
.boxA .btn2{ 
width: 120px; 
height: 45px; 
background-color: transparent; 
margin-left: 2px; 
border-color: transparent; 
border-radius: 25px; 
margin-top: 15px; 
} 
.boxA .btn2:hover{ 
background:lightslategrey; 
} 
.boxA .box2{ 
margin-left: 500px; 
margin-top: -100px ; 
} 
.box2 .btn3{ 
width: 50px; 
height: 50px; 
background-color: transparent; 
margin-left: 200px; 
border-color: transparent; 
border-radius: 2px; 
} 
.box2 .btn3:hover{ 
background:lightslategrey; 
} 
.box2 .btn4{ 
margin-left: 10px; 
background-color: transparent; 
border-color: transparent; 
width: 50px; 
height: 50px; 
border-radius: 2px; 
} 
.box2 .btn4:hover{ 
background:lightslategrey; 
} 
.box2 .btn4 img{ 
width: 30px; 
height: 30px; 
border-radius: 20px; 
} 
.box2 .btn5{ 
width: 200px; 
height: 50px; 
background-color: transparent; 
margin-left: 5px; 
border-color: transparent; 
border-radius: 2px; 
} 
.box2 .btn5:hover{ 
background:lightslategrey; 
} 
.box2 .btn6{ 
width: 100px; 
height: 35px; 
background-color: white; 
margin-left: 5px; 
border-color: transparent; 
border-radius: 2px; 
} 
.box2 .btn6:hover{ 
background:lightsteelblue; 
} 
.box2 .btn6 h3{ 
color: darkblue; 
} 
.box2 .btn7{ 
width: 100px; 
height: 35px; 
background-color: white; 
margin-left: 5px; 
border-color: transparent; 
border-radius: 2px; 
} 
.box2 .btn7:hover{ 
background:lightsteelblue; 
} 
.box2 .btn7 h3{ 
color: darkblue; 
} 
.boxB{ 
} 
width: 100%; 
height: 90px; 
background-color: white; 
.boxB .box1{ 
text-align: center; 
padding-top: 10px; 
font-family: sans-serif; 
} 
.boxB .box2{ 
margin-left: 610px; 
margin-top: 5px; 
} 
.boxC{ 
} 
width: 100%; 
height: 240px; 
background-color: darkblue; 
.boxC .box1{ 
margin-left: 130px; 
padding-top: 70px; 
} 
.boxC .box1 h1{ 
color: white; 
font-family: sans-serif; 
font-size: 50px; 
} 
.boxC .box2{ 
margin-left: 130px; 
margin-top: 5px; 
} 
.boxC .box2 h2{ 
color: white; 
font-family: sans-serif; 
} 
.boxC .box3{ 
width: 1100px; 
height: 60px; 
background-color: gold; 
margin-left: 125px; 
margin-top: 50px; 
display: flex; 
border-radius: 5px; 
} 
.boxC .box3 input{ 
width: 450px; 
height: 50px; 
border-radius: 5px; 
border-width: 5px; 
border-color: gold; 
} 
.boxC .box3 .boxa{ 
width: 210px; 
height: 50px; 
border-radius: 5px; 
margin-top: 5px; 
border-width: 10px; 
border-color: gold; 
background-color: white; 
} 
.boxC .box3 .boxa h4{ 
text-align: center; 
margin-top: 15px; 
color: darkgray; 
} 
.boxC .box3 .boxb{ 
width: 280px; 
height: 50px; 
border-radius: 5px; 
margin-top: 5px; 
margin-left: 5px; 
border-width: 10px; 
border-color: gold; 
background-color: white; 
} 
.boxC .box3 .boxb h4{ 
text-align: center; 
margin-top: 15px; 
color: darkgray; 
} 
.boxC .box3 .btn{ 
width: 135px; 
height: 50px; 
background-color: blue; 
margin-top: 5px; 
margin-left: 5px; 
border-radius: 5px; 
border-color: transparent; 
} 
.boxC .box3 .btn h2{ 
color: white; 
} 
.container{ 
display: flex; 
justify-content: center; 
width: 80%; 
height: 500px; 
gap: 30px; 
margin-top: 50px; 
margin-left: 50px; 
} 
.container img{ 
width: 30%; 
height: 100%; 
transition: all ease-in-out 1s; 
border-radius: 20px; 
} 
.container img:hover{ 
width: 100%; 
} 